@function em($pixels, $context: $font-size-base) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }
    @if (unitless($context)) {
        $context: $context * 1px;
    }
    @return $pixels / $context * 1em;
}

$font-family-base: Arial, sans;

body {
    font-family: $font-family-base;
}

::selection {
  background: orange; /* WebKit/Blink Browsers */
  color: #fff;
}